<suite name="Automation">
  <test name="UNO.EDU">
    <classes>
      <class name="com.pack.Tests.CreateAccountTest"/>
      <class name="com.pack.Tests.DashBoard_AcademicCalendarTest"/>
      <class name="com.pack.Tests.Dashboard_DirectoryTest"/>
      <class name="com.pack.Tests.DashBoard_LibraryTest"/>
      <class name="com.pack.Tests.DashBoardTests"/>
      <class name="com.pack.Tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
